[submodule "upstream/webdisplays"]
	path = upstream/webdisplays
	url = https://github.com/CinemaMod/webdisplays.git
	branch = 1.20

[submodule "upstream/waterframes"]
	path = upstream/waterframes
	url = https://github.com/SrRapero720/waterframes.git
	branch = 1.21.5

[submodule "reference/webdisplays-neoforge-1.21.1"]
	path = reference/webdisplays-neoforge-1.21.1
	url = https://github.com/mekos2772/webdisplays.git
	branch = main

[submodule "reference/waterframes-1.21.8"]
	path = reference/waterframes-1.21.8
	url = https://github.com/SrRapero720/waterframes.git
	branch = 1.21.8-fabric
